<!DOCTYPE html>
<html ng-app="githubViewer">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="MainController">
        <h1>{{message}}</h1>
        <h2>Github User</h2>
        <div>
            <div>{{ error }}</div>
            <!--<form name="searchUser" >
                <input type="search" placeholder="Username to find" ng-model="username" />
                <input type="submit" value="Search" ng-click="search(username)" />
            </form>-->
            <form name="searchUser" ng-submit="search(username)">
                <input type="search" required placeholder="Username to find" ng-model="username" />
                <input type="submit" value="Search" />
            </form>
            <div ng-include="'UserDetails.html'" ng-show="user">
            </div>
        </div>
        <div>
            <h3>'-stargazers_count'</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stars</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos | orderBy:'-stargazers_count'">
                        <td>{{ repo.name }}</td>
                        <td>{{ repo.stargazers_count | number:1}}</td>
                        <td>{{ repo.language }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <img src="Images/filters.GIF" />
    </div>
    <script src="Scripts/03DirectivesAndViews.js"></script>
</body>
</html>
